.App-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #2A9D8F;
}

.App-header > div {
    display: flex;
    justify-content:flex-start;
    margin-left: 2em;
}

.App-header > div > img {
    max-width: 5em;
    height: auto;
    padding: 0 2em;
}

.App-header > div > div > h1 {
    margin-bottom: -.5em;
}

.App-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 2em;
}

.App-navbar > ul > li {
    display: inline-block;
    margin: 0 1em;
    list-style-type: none;
    font-size: 1.25rem;
}

.App-navbar > ul > li > a {
    padding: .2em .75em .2em .75em;
}

.App-navbar > ul > li:hover {
    /*transition: 1s ease;*/
}

@media only screen and (hover: none) and (pointer: coarse) {
    .App-navbar {
        display: none;
    }
}